//variables de colores aplicadas a la pagina web//

$colorFondo: darkgrey;

$colorLetrasBarra: white;

$colorLetrasBody: black;

$colorSubrayado: black;

$colorPiePag: grey;

$colorTituloPiePag: blue;

$colorOpinionN: purple;

$colorOpinionO: green;

$colorTitulosC: darkblue;

$colorRespuestaD: darkblue;

$colorPreguntaD: red;